:root {
  --bg_blue: #2a77be;
  --bg_grey: #5a5a5a;
  --white: #ffffff;
}

.main-header .logo {
  font-weight: bold;
  font-size: 24px;
}

.nav-tabs {
  font-weight: bold;
  color: var(--bg_blue);
}
.my-button {
    cursor: pointer;
    color: var(--white);
    box-shadow: none;
    background: var(--bg_blue);
    border: none;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pry-button {
    background: var(--bg_blue);
}
.grey-button {
    background: var(--bg_grey);
}

.centered-items-row {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 8px 4px;
}

#sensitivity_options_box {
    margin-top: 20px;
}
